.grid {
    display: grid;
    grid-template-columns: 30px 1040px;
}

.column {
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    grid-column-start: span 2;
}

.column p {
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    border-width: 2px;
    
}

.image {
    max-width: 200px;
    max-height: 150px;
}

.image-container {
    box-shadow: 4px 4px #5558;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;  
    background-color: lightgoldenrodyellow;
}