.grid {
    display: grid;
    grid-template-columns: 30px 940px;
}

.column {
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    grid-column-start: span 2;
}

.column p {
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.image {
    width: 180px;
    height: 180px;
}