html {
    font-size: 30px;
}

body {
    background-color: whitesmoke;    
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
main {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    height: 730px;
}

.grid {
    display: grid;
    grid-template-columns: 30px 860px;
}

.smaller {
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 10%;
}

.column {
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    grid-column-start: span 2;
}

.column p {
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-grid {       
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.img-grid picture {
    display: flex;
    justify-content: center;
    align-content: center;

    width: 160px;
    height: 160px; 

    justify-items: center;
    align-items: center;

    box-shadow: 4px 4px #bbb382;
    border: 2px solid black;
    border-radius: 10px;
}

.image {
    width: 160px;
    height: 160px;
}

.box {
    color: #bbb382;
    font-size: 30px;
    grid-column-start: span 2;
    margin-top: 10px;
    margin-left: 35px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 4px 4px #bbb382;
    border-radius: 5px;
}

.button {
    background-color: #bebba8;
    color: black;
    width: 300px;
    height: 45px;
}

.button:hover {
    background-color:#bbb382;
    box-shadow: 4px 4px #bebba8;
}

@media screen and (max-width: 900px) {
    
    html {
        font-size: 15px;
    }

    main {
        height: 310px;
    }

    .grid {
        display: grid;
        grid-template-columns: 15px 370px;
    }

    .column {
        margin-left: 15px;
    }

    .img-grid picture {    
        width: 60px;
        height: 60px;
        box-shadow: 2px 2px #bbb382;
        border: 1px solid black; 
        border-radius: 5px;
    }

    .image {
        width: 60px;
        height: 60px;
    }

    .box {
        font-size: 15px;
        margin-top: 5px;
        margin-left: 20px;
        border: 1px solid black;
        box-shadow: 2px 2px #bbb382;
    }

    .button {
        width: 150px;
        height: 24px;
        position: relative;
        top: -55px
    }
       
        
}

.hidden {
    display: none;
}

